.transaction-container {
  background-color: #1c1c1e;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 40px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.transaction-header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.transaction-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-size: 14px;
  margin-bottom: 10px; /* Added more space between the label and input */
  display: block;
}

.form-input {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #2e2e2e;
  border-radius: 8px;
  background-color: #2e2e2e;
  color: white;
  box-sizing: border-box;
}

.form-input::placeholder {
  color: #aaaaaa;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-button,
.continue-button {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.cancel-button {
  background-color: #353535;
  color: white;
  margin-right: 10px;
}

.continue-button {
  background-color: #007aff;
  color: white;
}

.cancel-button:disabled,
.continue-button:disabled {
  background-color: #6e6e6e;
  cursor: not-allowed;
}

.continue-button:hover,
.cancel-button:hover {
  opacity: 0.9;
}
